{% load static %}
{% load currency_filters %}

{% block content %}

    <!-- Слайдер новые объекты -->
    <section class="slider-new-objects">
        <h2><i class="fa-solid fa-crown"></i> ТОП ДНЯ</h2>
        <div class="slider-container">
            <button class="arrow left-arrow" aria-label="Влево"><i class="fa fa-chevron-left"></i></button>
            <div class="new-objects-wrapper">
                <div class="new-objects">
                    {% for property in properties_new %}
                        <div class="new-object">
                            <a href="{% if property.is_rent %}{% url 'rent_single' property.slug %}
                            {% elif property.is_sale %}{% url 'sale_single' property.slug %}
                            {% else %}#{% endif %}">
                                <div class="image-wrapper">
                                    {% if property.photos.all %}
                                        <img src="{{ property.photos.all.0.photo.url }}" alt="{{ property.name }}"/>
                                    {% else %}
                                        <img src="{% static 'webapp/images/house_slide.png' %}"
                                             alt="{{ property.name }}"/>
                                    {% endif %}
                                    <span class="fire-sticker" title="ТОП ДНЯ">🔥</span>
                                </div>
                                <p>{{ property.name }}</p>
                                <p>Цена BYN: {{ property.price }}</p>
                                {% if usd_to_byn_rate and property.price %}
                                    <p>Цена в USD: ${{ property.price|divide:usd_to_byn_rate|floatformat:2 }}</p>
                                {% else %}
                                    <p>Цена USD: $недоступна</p>
                                {% endif %}

                            </a>
                        </div>

                    {% empty %}
                        <p>Новых объектов нет</p>
                    {% endfor %}
                </div>
            </div>
            <button class="arrow right-arrow" aria-label="Вправо"><i class="fa fa-chevron-right"></i></button>
        </div>
    </section>

{% endblock %}