{% extends 'main/base.html' %}
{% load static %}



{% block content %}
    <nav class="breadcrumb-container" aria-label="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="nav-link">Главная</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">О нас</li>
        </ol>
    </nav>

    <!-- Информация о нас -->
    <section class="about-section" id="about">
        <div class="container about-container">
            <div class="about-photo">
                <img src="{{ about.photo.url }}" alt="Фото компании"/>
            </div>
            <div class="about-text">
                <h2>✔ О {{ about.name }}</h2>
                <p>
                    {{ about.description|linebreaksbr }}
                </p>
                <div class="contacts-about">
                    <p>УНП: {{ about.unp }}</p>
                    <p>Лицензия: {{ about.license }}</p>
                    <p>
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:{{ about.phone|urlencode }}">Гор.: {{ about.phone }}</a>
                    </p>
                    <p>
                        <i class="fa-solid fa-mobile-alt"></i>
                        <a href="tel:{{ contact.phone|urlencode }}">{{ contact.phone }}</a>
                    </p>
                     <p>
                        <i class="fa-solid fa-mobile-alt"></i>
                        <a href="tel:{{ contact.phone|urlencode }}">{{ contact.phone_two }}</a>
                    </p>
                    <p>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:{{ contact.email|urlencode }}">{{ contact.email }}</a>
                    </p>
                    <div class="social-about">
                    <p>Соцсети:</p>
                        {% for social in contact.social_networks.all %}
                            <a href="{{ social.url }}" aria-label="{{ social.name }}" target="_blank"
                               rel="noopener noreferrer">
                                <i class="{{ social.icon }}"></i>
                            </a>
                        {% empty %}
                            <p>Соцсетей нет</p>
                        {% endfor %}
                    </div>
                    <div class="messenger-menu">
                        <p class="messengers-contacts">Мессенджеры:</p>
                        {% for messenger in messengers %}
                            <a href="{{ messenger.url }}" aria-label="{{ messenger.name }}" target="_blank"
                               rel="noopener noreferrer">
                                {% if messenger.icon_svg %}
                                    <img src="{{ messenger.icon_svg.url }}" alt="{{ messenger.name }}"
                                         class="messengers-contacts"/>
                                {% else %}
                                    {{ messenger.name }}
                                {% endif %}
                            </a>
                        {% empty %}
                            <span>Мессенджеров нет</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Карта под фото и информацией -->
        <div class="container">
            <h3>📍 Мы на карте</h3>
            <div class="map-container">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2257.7787718957343!2d28.6432172!3d55.536222599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c485209fe11a4b%3A0x906ceb1e54e03589!2z0KbQtdC90YLRgCDRgNC40Y3Qu9GC0LXRgNGB0LrQuNGFINGD0YHQu9GD0LMg0JrQstCw0KLRjdGA0LAgMjE0!5e0!3m2!1sru!2sby!4v1755249880238!5m2!1sru!2sby"
                        width="1200"
                        height="350"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        class="map-iframe"
                ></iframe>
            </div>
        </div>
    </section>


    <!-- Почему нам доверяют -->
    <section class="trust-section">
        <h2><i class="fa-solid fa-circle-question"></i> Почему нам доверяют</h2>
        <div class="trust-items">
            {% for reason in trust_reasons %}
                <div class="trust-item">
                    <i class="{{ reason.icon_class }}"></i>
                    <p>{{ reason.text }}</p>
                </div>
            {% empty %}
                <div class="trust-item">
                    <i class="fa-solid fa-shield-virus"></i>
                    <p>Надежность</p>
                </div>
                <div class="trust-item">
                    <i class="fa-solid fa-user-check"></i>
                    <p>Профессионализм</p>
                </div>
                <div class="trust-item">
                    <i class="fa-solid fa-handshake"></i>
                    <p>Честность</p>
                </div>
                <div class="trust-item">
                    <i class="fa-solid fa-clock"></i>
                    <p>Быстрый отклик</p>
                </div>
            {% endfor %}
        </div>

        <!-- Новая строка с анимированными счетчиками -->
        <div class="trust-stats">
            <div class="stat-item">
                <h3><span class="counter" data-target="{{ sold_objects }}">0</span>+</h3>
                <p>Объектов продано</p>
            </div>
            <div class="stat-item">
                <h3><span class="counter" data-target="{{ avg_sale_days }}">0</span> дней</h3>
                <p>Средний срок продажи</p>
            </div>
            <div class="stat-item">
                <h3><span class="counter" data-target="{{ support_247 }}">0</span>/7</h3>
                <p>На связи</p>
            </div>
        </div>
    </section>

    <!-- Наши Сотрудники -->
    <section class="about_employees">
    <h2><i class="fa-solid fa-users"></i> Риэлтеры и агенты по недвижимости Новоплоцк/Полоцк</h2>
    </section>
    <div class="main-container">
        <div class="employees-container">
            <div class="employee-card">
                <div class="photo-container">
                    <img alt="Фото специалиста" src="{% static 'webapp/svg/default_person.svg' %}"
                         class="rounded-full"/>
                </div>

                <div class="content">
                    <div class="header">
                        <p class="text-title">Иван Иванов</p>
                        <div class="rating">
                            <span class="stars" aria-label="Рейтинг 5 из 5">★★★★★</span>
                            <span class="review-count">339 отзывов</span>
                        </div>
                    </div>
                    <div class="position">Риэлтер, Учредитель</div>
                    <a href="{% url 'about' %}" target="_blank" class="agency-link">
                        K214.BY – АГЕНТСТВО НЕДВИЖИМОСТИ «K214 И КОМАНДА»
                    </a>
                    <div class="regions">
                        Регионы работы: Полоцк / Полоцкий район, Новополоцк / Новополоцкий район …
                    </div>
                    <div class="specialties">
                        Квартиры, комнаты – продажа, Коттеджи, дома, участки – продажа, Новостройки, долевое
                        строительство,
                        Коттеджные посёлки, Vip-недвижимость
                    </div>
                    <div class="contacts">
                        <a href="tel:+375295032222" class="phone-number">+375(29)503-22-22</a>
                    </div>
                </div>
            </div>
            <div class="employee-card">
                <div class="photo-container">
                    <img alt="Фото специалиста" src="{% static 'webapp/svg/default_person.svg' %}"
                         class="rounded-full"/>
                </div>

                <div class="content">
                    <div class="header">
                        <p class="text-title">Иванка Иванкович</p>
                        <div class="rating">
                            <span class="stars" aria-label="Рейтинг 5 из 5">★★★★★</span>
                            <span class="review-count">339 отзывов</span>
                        </div>
                    </div>
                    <div class="position">Риэлтер, Учредитель</div>
                    <a href="{% url 'about' %}" target="_blank" class="agency-link">
                        K214.BY – АГЕНТСТВО НЕДВИЖИМОСТИ «K214 И КОМАНДА»
                    </a>
                    <div class="regions">
                        Регионы работы: Полоцк / Полоцкий район, Новополоцк / Новополоцкий район …
                    </div>
                    <div class="specialties">
                        Квартиры, комнаты – продажа, Коттеджи, дома, участки – продажа, Новостройки, долевое
                        строительство,
                        Коттеджные посёлки, Vip-недвижимость
                    </div>
                    <div class="contacts">
                        <a href="tel:+375295032222" class="phone-number">+375(29)503-22-22</a>
                    </div>
                </div>
            </div>
        </div>

        <aside class="sidebar">
            <div class="banner">
                <a href="https://a.realt.by/www/delivery/cl.php?bannerid=12954&amp;zoneid=142" target="_blank"
                   class="banner-link banner-link-1">
                </a>
                <p>Купи — и паркуйся</p>
            </div>
            <div class="banner">
                <a href="https://a.realt.by/www/delivery/cl.php?bannerid=12956&amp;zoneid=77" target="_blank"
                   class="banner-link banner-link-2">
                </a>
                <p> ЖК ТОПАЗ</p>
            </div>
            <div class="banner iframe-banner">
                <iframe src="//a.realt.by/swiffy/data/73432f2f14cf5a0b8368a4f361177bd3/240x400.html"
                        title="Реклама"></iframe>
            </div>
        </aside>
    </div>


{% endblock %}