{% extends 'main/base.html' %}
{% load static %}
{% load currency_filters %}

{% block content %}
    <section>
        <div class="listing-wrapper">
            <h1 class="page-title">Список городов</h1>

            <div class="city-list-container">
                <div class="city-grid">
                    {% for city in cities %}
                        <div class="city-grid-item">
                            <a href="{% url 'city_detail' slug=city.slug %}" class="city-link">
                                {% if city.photo %}
                                    <img src="{{ city.photo.url }}" alt="{{ city.name }}" class="city-photo"/>
                                {% endif %}
                                <span class="city-name">{{ city.name }}</span>
                            </a>
                            <span class="property-count">Объекты: {{ city.property_count }}</span>
                        </div>
                    {% empty %}
                        <p>Города не найдены</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
