{% extends 'main/base.html' %}
{% load static %}



{% block content %}

    <nav class="breadcrumb-container" aria-label="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="nav-link">Главная</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Контакты</li>
        </ol>
    </nav>


  <!-- Информация о нас -->
  <section class="about-section" id="about">
      <div class="container about-container">
          <div class="about-photo">
              <img src="{% static 'webapp/images/kvatera_about.jpg' %}" alt="Фото компании"/>
          </div>
          <div class="about-text">
              <h2>✔ Наши контакты и адреса</h2>
              <p>
                  ⭐⭐⭐⭐⭐<br><br>
                  🏙️ Мы находимся по адресу:<br>
                  г.Новополоцк ул. Молодежная 72б | помещение 8.
              </p>
              <div class="contacts-about">
                  <p>
                      <i class="fa-solid fa-phone"></i>
                      <a href="tel:{{ contact.phone|urlencode }}">{{ contact.phone }}</a>
                  </p>
                  <p>
                      <i class="fa-solid fa-envelope"></i>
                      <a href="mailto:{{ contact.email|urlencode }}">{{ contact.email }}</a>
                  </p>
                  <div class="social-about">
                      {% for social in contact.social_networks.all %}
                          <a href="{{ social.url }}" aria-label="{{ social.name }}" target="_blank"
                             rel="noopener noreferrer">
                              <i class="{{ social.icon }}"></i>
                          </a>
                      {% empty %}
                          <p>Соцсетей нет</p>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>

      <!-- Карта под фото и информацией -->
      <div class="container">
          <h3>📍 Мы на карте</h3>
          <div class="map-container">
              <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2257.7787718957343!2d28.6432172!3d55.536222599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c485209fe11a4b%3A0x906ceb1e54e03589!2z0KbQtdC90YLRgCDRgNC40Y3Qu9GC0LXRgNGB0LrQuNGFINGD0YHQu9GD0LMg0JrQstCw0KLRjdGA0LAgMjE0!5e0!3m2!1sru!2sby!4v1755249880238!5m2!1sru!2sby"
                      width="1200"
                      height="350"
                      style="border:0;"
                      allowfullscreen=""
                      loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"
                      class="map-iframe"
              ></iframe>
          </div>
      </div>
  </section>

{% include 'webapp/consultation_form.html' %}
{% endblock %}