{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <nav class="breadcrumb-container" aria-label="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="nav-link">Главная</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Сотрудники</li>
        </ol>
    </nav>

    <div class="main-container">
        <div class="employees-container">
            <div class="employee-card">
                <div class="photo-container">
                    <img alt="Фото специалиста" src="{% static 'webapp/svg/default_person.svg' %}"
                         class="rounded-full"/>
                </div>

                <div class="content">
                    <div class="header">
                        <p class="text-title">Иван Иванов</p>
                        <div class="rating">
                            <span class="stars" aria-label="Рейтинг 5 из 5">★★★★★</span>
                            <span class="review-count">339 отзывов</span>
                        </div>
                    </div>
                    <div class="position">Риэлтер, Учредитель</div>
                    <a href="{% url 'about' %}" target="_blank" class="agency-link">
                        K214.BY – АГЕНТСТВО НЕДВИЖИМОСТИ «K214 И КОМАНДА»
                    </a>
                    <div class="regions">
                        Регионы работы: Полоцк / Полоцкий район, Новополоцк / Новополоцкий район …
                    </div>
                    <div class="specialties">
                        Квартиры, комнаты – продажа, Коттеджи, дома, участки – продажа, Новостройки, долевое
                        строительство,
                        Коттеджные посёлки, Vip-недвижимость
                    </div>
                    <div class="contacts">
                        <a href="tel:+375295032222" class="phone-number">+375(29)503-22-22</a>
                    </div>
                </div>
            </div>
            <div class="employee-card">

                {% for employee in employees %}
                    <div class="photo-container">
                        <img alt="Фото специалиста" src="{% static 'webapp/svg/default_person.svg' %}"
                             class="rounded-full"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <p class="text-title">
                                {% if employee.slug %}
                                    <a href="{% url 'employees_single' slug=employee.slug %}">{{ employee.full_name }}</a>
                                {% else %}
                                    {{ employee.full_name }}
                                {% endif %}
                            </p>
                            <div class="rating">
                                <span class="stars" aria-label="Рейтинг {{ employee.rating }}">★★★★★</span>
                                <span class="review-count">{{ employee.reviews_count }} отзывов</span>
                            </div>
                        </div>
                        <div class="position">{{ employee.position }}</div>
                        <a href="{% url 'about' %}" target="_blank"
                           class="agency-link">{{ employee.agency_name }}</a>
                        <div class="regions">Регионы работы: {{ employee.regions }}</div>
                        <div class="specialties">{{ employee.specialties }}</div>
                        <div class="contacts">
                            <a href="tel:{{ employee.phone }}" class="phone-number">{{ employee.phone }}</a>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>

        <aside class="sidebar">
            <div class="banner">
                <a href="https://a.realt.by/www/delivery/cl.php?bannerid=12954&amp;zoneid=142" target="_blank"
                   class="banner-link banner-link-1">
                </a>
                <p>Купи — и паркуйся</p>
            </div>
            <div class="banner">
                <a href="https://a.realt.by/www/delivery/cl.php?bannerid=12956&amp;zoneid=77" target="_blank"
                   class="banner-link banner-link-2">
                </a>
                <p> ЖК ТОПАЗ</p>
            </div>
            <div class="banner animated-banner">
                <img src="{% static 'webapp/svg/default_person.svg' %}" alt="Рекламное фото" class="banner-photo">
                <div class="ad-text typing-text">Реклама вашего продукта здесь</div>
            </div>
            <div class="banner animated-banner">
                <img src="{% static 'webapp/svg/default_person.svg' %}" alt="Рекламное фото" class="banner-photo">
                <div class="ad-text typing-text">Реклама вашего продукта здесь</div>
            </div>


        </aside>
    </div>

{% endblock %}
