<div class="filter-wrapper">
    <button class="filter-burger" aria-label="Открыть фильтр" type="button">
        <span class="icon-burger">&#9776;</span> <!-- Иконка бургера -->
        <span class="icon-close">&#10006;</span> <!-- Иконка крестика -->
    </button>

    <div class="filter-pages">
        <form action="{% url 'sale' %}" method="get" class="filter-form">

            <div class="filter-checkboxes-pages">
                <label class="filter-checkbox-pages">
                    <input type="checkbox" name="property_type" value="is_active_apartment"
                           {% if "is_active_apartment" in request.GET.property_type %}checked{% endif %}>
                    <span>Квартиры</span>
                </label>
                <label class="filter-checkbox-pages">
                    <input type="checkbox" name="property_type" value="is_active_new"
                           {% if "is_active_new" in request.GET.property_type %}checked{% endif %}>
                    <span>Новостройки</span>
                </label>
                <label class="filter-checkbox-pages">
                    <input type="checkbox" name="property_type" value="is_active_house"
                           {% if "is_active_house" in request.GET.property_type %}checked{% endif %}>
                    <span>Дома</span>
                </label>
                <label class="filter-checkbox-pages">
                    <input type="checkbox" name="property_type" value="is_active_country_house"
                           {% if "is_active_sold" in request.GET.property_type %}checked{% endif %}>
                    <span>Дачи</span>
                </label>
            </div>

            <div class="filter-row-pages">
                <div class="filter-direction-pages" style="position: relative; flex-grow: 2.2; min-width: 190px;">
                    <input type="text" id="city-autocomplete" name="direction" placeholder="Введите населённый пункт"
                           value="{{ request.GET.direction|default:'' }}" autocomplete="off"/>
                    <div id="autocomplete-list" class="autocomplete-items"></div>
                </div>

                <input type="number" name="price_min" placeholder="цена от" min="0"
                       value="{{ request.GET.price_min|default:'' }}">
                <input type="number" name="price_max" placeholder="до" min="0"
                       value="{{ request.GET.price_max|default:'' }}">
                <select name="currency">
                    <option value="usd"
                            {% if request.GET.currency == "usd" or not request.GET.currency %}selected{% endif %}>USD
                    </option>
                    <option value="byn" {% if request.GET.currency == "byn" %}selected{% endif %}>BYN</option>
                </select>
            </div>

            <div class="btn filter-submit">
                <button type="submit">Показать</button>
            </div>

        </form>
    </div>
</div>
