{% extends 'main/base.html' %}
{% load currency_filters %}
{% load static %}

{% block content %}
    <nav class="breadcrumb-container" aria-label="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="nav-link">Главная</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'sale' %}">
                    {% if has_filters %}
                        Продажа
                    {% else %}
                        Продажа все объекты
                    {% endif %}
                </a>
            </li>
            {% if has_filters and first_property %}
                {% if first_property.is_active_apartment %}
                    <li class="breadcrumb-item">Квартира</li>
                {% endif %}
                {% if first_property.is_active_house %}
                    <li class="breadcrumb-item">Дом</li>
                {% endif %}
                {% if first_property.is_commercial %}
                    <li class="breadcrumb-item">Коммерческое</li>
                {% endif %}
            {% endif %}
        </ol>
    </nav>

    <section>
        <div class="listing-wrapper">
            <h1 class="page-title">Объекты для покупки</h1>

            {% if properties %}
                <div class="listing-cards">
                    {% for property in properties %}
                        <article class="listing-card">
                            <h2 class="listing-title">
                                <a href="{% url 'sale_single' property.slug %}" class="listing-link">
                                    {{ property.name }}
                                </a>
                            </h2>

                            <p><b style="font-size: 15px">🧩 Тип:</b>
                                {% if property.is_active_apartment %} Квартира
                                {% elif property.is_active_house %} Дом
                                {% elif property.is_active_country_house %} Дача
                                {% elif property.is_active_new %} Новостройка
                                {% else %} Другое
                                {% endif %}
                            </p>
                            <p><b style="font-size: 15px">📍 Этаж:</b> {{ property.floor|safe }}</p>
                            <p><b style="font-size: 15px">🚪 Комнат:</b> {{ property.many_rooms|safe }}</p>
                            <p><b style="font-size: 15px">📐 Площадь:</b> {{ property.area }} м²
                                {% if property.area_ga %} ({{ property.area_ga }} сот./га) {% endif %}
                            </p>

                            <p><b style="font-size: 15px; margin-top: 13px">Цена BYN:</b> <span
                                    class="price-sale">{{ property.price|multiply:usd_to_byn_rate|floatformat:2 }}</span>
                            </p>
                            {% if usd_to_byn_rate and property.price %}
                                <p><b style="font-size: 15px">Цена в USD: $</b> <span class="price-sale">{{ property.price }}</span></p>
                            {% else %}
                                <p style="font-size: 15px">Цена USD: $недоступна</p>
                            {% endif %}


                            <div class="listing-description">{{ property.description|truncatechars:74|safe }}</div>

                            <a href="{% url 'sale_single' property.slug %}" class="listing-photo-link">
                                {% if property.photos.all %}
                                    <div class="listing-photo-wrapper">
                                        <img src="{{ property.photos.all.0.photo.url }}"
                                             alt="{{ property.photos.all.0.alt_text }}"
                                             class="listing-photo"/>
                                    </div>
                                {% endif %}
                            </a>
                        </article>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-listings">
                    <p class="no-listings-message">
                        💡⚠️🤷‍♂️ К сожалению, объекты по вашему запросу не найдены.
                        <br>
                        ✔️ Попробуйте ещё раз, перейдите назад ♻️
                        <a href="javascript:history.back()" class="btn-back">← Назад</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
