{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <nav class="breadcrumb-container" aria-label="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="nav-link">Главная</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'sale' %}">
                    {% if has_filters %}
                        Продажа
                    {% else %}
                        Продажа все объекты
                    {% endif %}
                </a>
            </li>
            {% if has_filters and first_property %}
                {% if first_property.is_active_apartment %}
                    <li class="breadcrumb-item">Квартира</li>
                {% endif %}
                {% if first_property.is_active_house %}
                    <li class="breadcrumb-item">Дом</li>
                {% endif %}
                {% if first_property.is_commercial %}
                    <li class="breadcrumb-item">Коммерческое</li>
                {% endif %}
            {% endif %}
        </ol>
    </nav>

    <section>
        <div class="sale-container">
            <h1 class="page-title">Объекты для покупки</h1>

            {% if properties %}
                <div class="properties-list">
                    {% for property in properties %}
                        <div class="property-card">
                            <h2 class="property-name">
                                <a href="{% url 'sale_single' property.slug %}">{{ property.name }}</a>
                            </h2>
                            <p class="property-address">{{ property.address }}</p>
                            <p class="property-price">Цена: {{ property.price }} USD</p>

                            <p class="property-type">
                                Тип недвижимости:
                                {% if property.is_active_apartment %}
                                    Квартира
                                {% elif property.is_active_house %}
                                    Дом
                                {% elif property.is_active_country_house %}
                                    Дача
                                {% elif property.is_active_new %}
                                    Новостройка
                                {% elif property.is_active_sold %}
                                    Продано
                                {% else %}
                                    Другой тип
                                {% endif %}
                            </p>

                            <p class="property-description">{{ property.description|safe|truncatewords:30 }}</p>

                            <a href="{% url 'sale_single' property.slug %}">
                                {% if property.photos.all %}
                                    <div class="property-photos">
                                        <img src="{{ property.photos.all.0.photo.url }}"
                                             alt="{{ property.photos.all.0.alt_text }}"
                                             class="property-main-photo"/>
                                    </div>
                                {% endif %}
                            </a>

                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-properties-wrapper">
                    <div class="no-properties-message">
                        💡⚠️🤷‍♂️ К сожалению, объекты по вашему запросу не найдены.
                        <br>
                        ✔️ Попробуйте ещё раз, перейдите назад ♻️
                        <a href="javascript:history.back()" class="back-button">← Назад</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
